@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fade-in animation for pages */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}
